.logo-image {
  margin: 0 auto;
  text-align: center;
  img {
    width: 80%;
  }
}


.loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9997;
    background: rgba(0,0,0,0.25);
}

